<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <base href="{{ page.url | replace: 'index.html', '' }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign ishome = false %}
    {% if page.url == '/index.html' %}
      {% assign ishome = true %}
    {% endif %}
    
    {% if site.environment == 'production' %}
    <style type="text/css">
      {% if ishome %}
        {% include _critical_homepage.css %}
      {% else %}
        {% include _critical_posts.css %}
      {% endif %}
    </style>
    <script>
        {% include _loadCSS.js %}
        loadCSS("/css/style.css");
    </script>
    <noscript>
    {% endif %}
    
    <!-- build:css({app,.tmp}) /css/style.css -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- endbuild -->

    {% if site.environment == 'production' %}
    </noscript>
    {% endif %}
    
    <script type="text/javascript">
      {% include _html5shiv.js %}
    </script>
    <script type="text/javascript">
      {% include _svg4everybody.ie8.js %}
    </script>
    <script type="text/javascript">
      {% include _type.js %}
    </script>
  </head>
  <body class="body-{{page.heading}}{% if ishome %}home{% endif %}">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    {% if ishome == false %}
      {% include header.html %}
    {% endif %}
    <main role="main">
      {{ content }}
    </main>
    
    {% if ishome == false %}
      {% include footer.html %}
    {% endif %}

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
