
<div bindonce="song.hasControls" class="song" ng-class="{isPlaying: isPlaying, isPaused: isPaused}">
  <div class="playlist-thumb song-thumb"><img bo-src="song.track.album.images[1].url"/>
    <div bo-if="song.hasControls" class="song-controls">
      <div bo-if="song.hasPreview" class="song-toggle" aria-role="button" title="{{(isPlaying)?'Pause':'Play a preview'}}">
        <svg role="presentation" aria-hidden="true" ng-if="!isPlaying"><use xlink:href="/img/sprite.symbol.svg#song-play" /></svg>
        <svg role="presentation" aria-hidden="true" ng-if="isPlaying"><use xlink:href="/img/sprite.symbol.svg#song-pause" /></svg>
      </div>
      <div bo-if="song.isOwner" class="song-delete" aria-role="button" title="Remove this song">
        <svg role="presentation" aria-hidden="true"><use xlink:href="/img/sprite.symbol.svg#delete" /></svg>
      </div>
    </div>
    <mffreq song="song" ng-if="isPlaying || isPaused"></mffreq>
  </div>
  <div class="song-info">
    <h4 bo-text="song.track.name" class="song-title"></h4>
    <ul class="song-artists">
      <li ng-repeat="artist in song.track.artists" bo-text="artist.name" class="song-artist"></li>
    </ul>
  </div>
</div>