<aside class="playerbar">
  <div class="playerbar-song" ng-if="player">
    <div class="playerbar-thumb">
      <img ng-src="{{player.previewImg}}"/>
    </div>
    <div class="playerbar-info song-info">
      <h4 class="playerbar-title song-title">{{player.name}}</h4>
      <ul class="playerbar-artists song-artists">
        <li ng-repeat="artist in player.artists" class="playerbar-artist song-artist">{{artist.name}}</li>
      </ul>
    </div>
  </div>
  <div class="playerbar-controls">
    <div class="playerbar-prev"></div>
    <div class="playerbar-toggle song-toggle"></div>
    <div class="playerbar-next"></div>
  </div>
  <div class="playerbar-link">
    <a ng-href="https://open.spotify.com/user/{{playlistId.owner}}/playlist/{{playlistId.id}}" target="_blank">Listen to the full playlist on Spotify</a>
  </div>
</aside>