<aside class="playerbar">
  <div class="progressbar-container">
    <div class="progressbar" mfprogressbar></div>
  </div>
  <div class="playerbar-song" ng-if="player">
    <div class="playerbar-thumb">
      <img ng-src="{{image}}"/>
    </div>
    <div class="playerbar-info song-info">
      <h4 class="playerbar-title song-title">{{song.name}}</h4>
      <ul class="playerbar-artists song-artists">
        <li ng-repeat="artist in song.artists" class="playerbar-artist song-artist">{{artist.name}}</li>
      </ul>
    </div>
  </div>
  <div class="playerbar-controls" ng-if="player">
    <div class="playerbar-prev" ng-class="{disabled: isFirst}" aria-role="button" ng-disabled="isFirst" title="Previous song">
      <svg role="presentation" aria-hidden="true"><use xlink:href="/img/sprite.symbol.svg#song-direction" /></svg>
    </div>
    <div class="playerbar-toggle song-toggle" aria-role="button" aria-disabled="false" title="{{(isPlaying)?'Pause':'Play a preview'}}">
      <svg role="presentation" aria-hidden="true" ng-if="!isPlaying"><use xlink:href="/img/sprite.symbol.svg#song-play" /></svg>
      <svg role="presentation" aria-hidden="true" ng-if="isPlaying"><use xlink:href="/img/sprite.symbol.svg#song-pause" /></svg>
    </div>
    <div class="playerbar-next" ng-class="{disabled: isLast}" aria-role="button" ng-disabled="isLast" title="Next song">
      <svg role="presentation" aria-hidden="true"><use xlink:href="/img/sprite.symbol.svg#song-direction" /></svg>
    </div>
  </div>
  <div class="playerbar-link">
    <a ng-href="https://open.spotify.com/user/{{playlistId.owner}}/playlist/{{playlistId.id}}" target="_blank" class="no-decoration">
      <svg aria-label="Listen on Spotify"><use xlink:href="../img/sprite.symbol.svg#spotify-listen" /></svg></a>
  </div>
</aside>