
<!-- build:js({app,.tmp}) /js/script.js -->
<script src="/js/modernizr.js" async=""></script>
<script src="/js/lazyload.js" async=""></script>
<script src="/_bower_components/lazysizes/lazysizes.js" async=""></script>
<script src="/js/console.js" async=""></script>
<script src="/js/tabfocus.js" async=""></script>
<!-- endbuild -->
{% if page.url == '/playlist/index.html' or page.url == '/photos2/index.html' %}
<!-- build:js({app,.tmp}) /js/ng.js -->
<script src="/_bower_components/angular/angular.js"></script>
<script src="/_bower_components/angular-aria/angular-aria.js"></script>
<script src="/_bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<script src="/_bower_components/angular-bindonce/bindonce.js"></script>
<script src="/_bower_components/angular-off-click/offClick.js"></script>
<script src="/_bower_components/angular-ui-unique/unique.js"></script>
<script src="/_bower_components/angular-spotify/src/angular-spotify.js"></script>
<script src="/_bower_components/d3/d3.js"></script>
<script src="/_bower_components/firebase/firebase.js"></script>
<script src="/_bower_components/angularfire/dist/angularfire.js"></script>

<script src="/js/playlist/index.js" type="text/javascript"></script>
<script src="/js/photos/index.js" type="text/javascript"></script>
<!-- angular -->
<!-- endangular -->
<!-- endbuild -->
{% endif %}