//
// Alert
// --------------------------------------------------

.alert-container {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: $zindex-2;
}

.alert {
  display: inline-block;
  padding: 10px 40px;
  animation: slideDownIn .2s ease-out;
}

.alert-default {
  background: #eee;
  border: 1px solid darken(#eee, 10px);
  border-top: 0;
}

.alert-adding {
  animation: slideDownIn .3s ease-out;
}

.alert-removing {
  animation: slideUpOut .3s ease-out;
}