//
// Animations
// --------------------------------------------------

// Add remove

.deleting {
  animation: zoomOut .3s ease-out;
}

.adding {
  animation: zoomIn .3s ease-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes slideDownIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideUpOut {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideUpIn {
  from {
    opacity: 0;
    margin-bottom: -40px;
  }
  
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}