// General Article Styles
// --------------------------------------------------

article {
  padding-top: 20px;
  padding-bottom: 60px;
}

@media (min-width: $screen-xs) {
  article {
    padding-top: 60px;
  }
  .post {
    padding-top: 0;
  }
}