// Buttons
// --------------------------------------------------


.btn {
  display: inline-block;
  padding: $padding-base-vertical $padding-base-horizontal;
  margin-bottom: 0;
  font-size: $font-size-base;
  font-weight: $btn-font-weight;
  line-height: $line-height-base;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background-color: $btn-default-bg;
  border: 1px solid $btn-default-border;
  color: $btn-default-color;
  transition: background 0.3s ease-out, border 0.3s ease-out;
  
  &:hover {
    background-color: $btn-default-hover-bg;
    border-color: $btn-default-hover-border;
    color: $btn-default-hover-color;
  }
  
  &:before {
    content: none;
  }
}

.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;
  padding: 0;
  border: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    box-shadow: none;
  }
}