// Cards
// --------------------------------------------------


.card {
  text-align: center;
}

// Icon
.card-icon {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
  fill: $brand-secondary;
  content:attr(title)
}

.card p {
  margin-bottom: $line-height-computed/2;
}