//
// Footer
// --------------------------------------------------

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  
  .body-playlist & {
    margin-bottom: $footer-height;
  }
}

// Footer Layout
.footer-layout {
  display: flex;
  align-items: center;
}

.footer-break {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0 .5rem;
  fill: $brand-secondary;
}

.footer-block {
  font-size: .8em;
  width: 100%;
  text-align: right;
}

@media (min-width: $screen-sm) {
  .footer-layout {
    display: block;
  }
  .footer-break {
    margin: 0 auto;
  }
  .footer-block {
    text-align: center;
  }
}