//
// Footer
// --------------------------------------------------

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
}

.footer-break {
  display: block;
  height: 3rem;
  margin: 1rem auto .5rem;
  fill: $brand-secondary;
}
