//
// Frequency
// --------------------------------------------------

.frequency {
  position: absolute;
  top: 0;
  left: 0;
  
  rect {
    fill: rgba(255,255,255,0.4);
    fill: rgba($brand-secondary,0.4);
    transform: scale(.5);
    
    @media (min-width: $screen-sm) {
      transform: scale(1);
    }
  }
}
