//
// Photo Albums
// --------------------------------------------------


.photo-album {
  display: block;
  max-width: $screen-sm * .667;
  margin: 0 auto $grid-column-gutter/2;
  position: relative;
}
  
.photo-album-thumb {
  display: block;
  height: 0;
  padding-bottom: 66.66667%;
  overflow: hidden;
}
  
.photo-album-name {
  margin: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5) 60%);
  color: #fff;
}

@media (min-width: $screen-sm) {
  .photo-albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .photo-album {
    margin: 0 0 $grid-column-gutter/2;
    max-width: none;
    width: 48%;
  }
  .photo-album-2 {
    width: 100%;
  }
}


//
// Gallery Controls
// --------------------------------------------------


.gallery-controls {
  margin: 0 ($grid-column-gutter / -4);
  text-align: center;
}

.gallery-controls--item {
  display: inline-block;
  margin: 0 ($grid-column-gutter / 4) 15px;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  
  @media (min-width: $screen-sm) {
    margin-left: ($grid-column-gutter / 2);
    margin-right: ($grid-column-gutter / 2);
  }
}


//
// Gallery Layout
// --------------------------------------------------


.gallery {
  padding: 0 15px;
}

.gallery-item {
  display: block;
}

.gallery-item img {
  transition: opacity .3s ease-out;
}

// Lazyload images

.js-lazyload,
.js-lazyloading {
  opacity: 0;
}

.js-lazyloaded {
  opacity: 1;
}
