//
// Grid
// --------------------------------------------------


// Container element
.container {
  padding: 15px;
  @include clearfix;
  
  @media (min-width: $screen-lg) {
    width: $screen-lg;
    margin: 0 auto;
  }
}

@media (min-width: $screen-sm) {
  // Row
  .row {
    @include make-row;
  }
  
  
  // Columns
  
  @include make-grid-columns;
  
  @include make-grid();
}