//
// Grid
// --------------------------------------------------


// Container element
.container {
  padding-left: ($grid-column-gutter / 4);
  padding-right: ($grid-column-gutter / 4);
  @include clearfix;
  
  @media (min-width: $screen-xs) {
    padding-left: ($grid-column-gutter / 2);
    padding-right: ($grid-column-gutter / 2);
  }
  
  @media (min-width: $screen-lg) {
    width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $screen-sm) {
  // Row
  .row {
    @include make-row;
  }
  
  
  // Columns
  
  @include make-grid-columns;
  
  @include make-grid();
}