// Hero Section
// --------------------------------------------------


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  min-height: 92vh;
  background-image: url('/img/balloons-small.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  
  @media (min-device-width: $screen-xs) and (max-device-width: $screen-sm) {
    background-image: url('/img/balloons-medium.jpg');
  }
  @media (min-device-width: $screen-sm) and (max-device-width: $screen-lg) {
    background-image: url('/img/balloons-large.jpg');
  }
  @media (min-device-width: $screen-lg) {
    background-image: url('/img/balloons-xlarge.jpg');
  }
}

// Background
.hero-bg {
}

// Name image
.hero-names { 
  display: block;
  width: 28em;
  margin: 0 auto;
  fill: #FFF;
}

// Date
.hero-date {
  display: block;
  font-size: 1.4em;
  font-weight: $font-weight-strong;
}

// Location
.hero-location {
  font-size: 1.4em;
  font-weight: $font-weight-strong;
}

.hero-event,
.hero-address {
  font-family: $font-family-alt;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 7px;
}

// Break
.hero-break {
  display: block;
  width: 30em;
  margin: -1em auto;
  stroke: #FFF;
  stroke-width: .5;
  fill: transparent;
}