//
// Lightbox
// --------------------------------------------------

.lightbox {
  position: fixed;
  top: 0;
  height: 100vh;
  min-height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #222;
  z-index: $zindex-7;
}

.lightbox-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 40px 0;
  
  @media (min-width: $screen-sm) {
    padding: 50px 50px 70px;
  }
}

.lightbox-image {
  max-height: 100%;
}


//
// Lightbox controls
// --------------------------------------------------

.lightbox-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -60px;
  opacity: 0;
  transition: opacity .3s;
  
  @media (min-width: $screen-sm) {
    opacity: 1;
  }
}

.lightbox-direction {
  margin: 0 15px;
  width: 15px;
  opacity: .7;
  transition: opacity .3s, transform .3s;
  
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.lightbox-direction--icon {
  fill: #fff;
  height: 60px;
}

.lightbox-direction--next {
  transform: scaleX(-1);
}


//
// Lightbox list
// --------------------------------------------------

.lightbox-list {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  padding: 0;
  list-style: none;
  display: none;
  
  @media (min-width: $screen-sm) {
    display: flex;
  }
}

.lightbox-listitem {
  margin: 0 5px;
  overflow: hidden;
  
  img {
    height: 30px;
    transition: height .15s;
  }
  
  &.active {
    border: 1px solid #fff;
  }
}
.lightbox-list:hover img {
  height: 60px;
}


//
// Lightbox buttons
// --------------------------------------------------

.lightbox-close {
  border: none;
  background: none;
  color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 15px 10px;
  padding-bottom: 5px;
  font-size: .8em;
  line-height: 1;
  transition: opacity .3s;
  
  &:hover {
    color: #fff;
    opacity: 1;
    text-decoration: underline;
  }
}
.lightbox-close--icon {
  width: 17px;
  height: 17px;
  margin: -3px 4px 0 0;
  fill: #fff;
}