//
// Lightbox
// --------------------------------------------------

.lightbox {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #222;
  z-index: $zindex-4;
}

.lightbox-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  height: 100%;
  padding: 40px 0 10px;
  width: 100%;
  
  @media (min-width: $screen-sm) {
    padding: 50px 50px 70px;
  }
}

.lightbox-image {
  max-height: 100%;
  flex: 0 0 auto;
  object-fit: scale-down;
}


.lightbox-next .lightbox-item.ng-enter {
  animation: slideInRight .5s;
}
.lightbox-next .lightbox-item.ng-leave {
  animation: slideOutLeft .5s;
}

.lightbox-prev .lightbox-item.ng-enter {
  animation: slideInLeft .5s;
}
.lightbox-prev .lightbox-item.ng-leave {
  animation: slideOutRight .5s;
}


//
// Lightbox controls
// --------------------------------------------------

.lightbox-controls {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  z-index: $zindex-1;
  
  @media (min-width: $screen-sm) {
    opacity: 1;
    padding: 50px 0 70px;
  }
}

.lightbox-direction {
  height: 100%;
  width: 60px;
  opacity: 0;
  transition: opacity .3s, transform .3s;
  
  @media (min-width: $screen-sm) {
    height: auto;
    width: 15px;
    opacity: .7;
    margin: 0 15px;
  
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.lightbox-direction--icon {
  fill: #fff;
  height: 60px;
}

.lightbox-direction--next {
  transform: scaleX(-1);
}


//
// Lightbox list
// --------------------------------------------------


.lightbox-morelist,
.lightbox-list {
  display: none;
}

.lightbox-morelist {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.lightbox-list {
  margin: 0;
  padding: 0 50px;
  list-style: none;
  z-index: $zindex-2;
}
  
@media (min-width: $screen-sm) {
  .lightbox-morelist,
  .lightbox-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.lightbox-list--prev,
.lightbox-list--next {
  opacity: 0;
  line-height: 1;
  transition: opacity .3s;
  cursor: pointer;
  
  &.ng-enter {
    animation: fadeIn .3s
  }
  &.ng-leave {
    animation: fadeOut .3s
  }
  
  .lightbox-direction--icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
  
  .lightbox-list:hover & {
    opacity: 1;
  }
}

.lightbox-listitem {
  margin: 0 5px;
  overflow: hidden;
  
  img {
    height: 30px;
    transition: height .15s;
  }
  
  &.active {
    border: 1px solid #fff;
  }
}
.lightbox-list:hover img{
  height: 45px;
}


//
// Lightbox buttons
// --------------------------------------------------

.lightbox-close {
  border: none;
  background: none;
  color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 15px 10px;
  padding-bottom: 5px;
  font-size: .8em;
  line-height: 1;
  transition: opacity .3s;
  z-index: $zindex-2;
  
  &:hover {
    color: #fff;
    opacity: 1;
    text-decoration: underline;
  }
}
.lightbox-close--icon {
  width: 17px;
  height: 17px;
  margin: -3px 4px 0 0;
  fill: #fff;
}