// Fancy Link Underline
// --------------------------------------------------

a {
  transition: color 0.3s ease-out;
}

.no-touch {
  main, .nav-list {
    // Links
    a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        visibility: hidden;
        transform: scaleX(0);
        transition: transform 0.3s ease-out;
      }
    
      &:hover,
      &:focus {
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
      
      &.no-decoration {
        &:hover,
        &:focus {
          &:before {
            visibility: hidden;
            transform: scaleX(0);
          }
        }
      }
    }
  }
}

main a:before {
  height: 1px;
  background-color: $link-hover-color;
}