// Nav
// --------------------------------------------------


.nav {
  max-width: $screen-sm;
  margin: 0 auto;
}

// Nav List
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  
  li {
    text-align: center;
  }
  
  a {
    display: block;
    padding: 10px 12px;
    color: $nav-link-color;
  }
  
  a:hover,
  .active {
    color: $nav-link-hover-color;
  }
  
  &:not(:hover) .active:before {
    visibility: visible;
    transform: scale(1);
  }
}

// Undeline styles
.no-touch {
  .nav-list a:before {
    height: 2px;
    background: $nav-line-color;
  }
}

// Homepage nav styles
.nav-hero {
  position: absolute;
  left: 0;
  bottom: -70px;
  width: 100%;
  
  @media (min-width: $screen-sm) {
    position: static;
    left: auto;
    bottom: auto;
    width: auto;
  }
  
  .nav-list {
    background: #fff;
    
    @media (min-width: $screen-sm) {
      background: transparent;
      font-size: $font-size-nav;
      
      a {
        color: #fff;
    
        &:before {
          background: #fff;
        }
      }
    }
  }
}

// Brand
.nav-brand {
  width: 100%;
  fill: $brand-secondary;
  margin: 10px 0 0 0;
}

// Navbar
.navbar .nav {
  margin-top: 15px;
}