// Nav
// --------------------------------------------------


.nav {
  max-width: $screen-sm;
  margin: 0 auto;
}

// Nav List
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  
  li {
    flex-grow: 1;
    text-align: center;
  }
  
  a {
    display: block;
    padding: 10px 15px;
    color: $nav-link-color;
    
    &:before {
      height: 2px;
      background: $nav-line-color;
    }
  }
  
  a:hover,
  .active {
    color: $nav-link-hover-color;
  }
  
  &:not(:hover) .active:before {
    visibility: visible;
    transform: scale(1);
  }
   
  @media (min-width: $screen-sm) {
    a {
      padding-left: 0;
      padding-right: 0;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

// Homepage nav styles
.nav-hero {
  .nav-list {
    a {
      background: #fff;
    }
    
    @media (min-width: $screen-sm) {
      font-size: $font-size-nav;
      
      a {
        background: transparent;
        color: #fff;
        margin-left: ($grid-column-gutter / 2);
        margin-right: ($grid-column-gutter / 2);
    
        &:before {
          background: #fff;
        }
      }
    }
  }
}

// Brand
.nav-brand {
  width: 100%;
  fill: $brand-secondary;
  margin: 10px 0 0 0;
}

// Navbar
.navbar .nav {
  margin-top: 15px;
}