//
// Playlists
// --------------------------------------------------


.playlist {
  margin: 0 -15px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist-container {
  padding: 0 15px;
}

.playlist-title {
  font-size: $font-size-h2 * .8;
  text-align: center;
  
  
  @media (min-width: $screen-sm) {
    font-size: $font-size-h2;
  }
}


// Loading

.playlist-loading {
  font-size: 10px;
  height: 4em;
	overflow-y:hidden;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.playlist-loading .bar {
  background: #006B5A;
  width: .6em;
  margin: 0 0.1em;
  animation: playing 0ms -1000ms linear infinite alternate;

  &:nth-child(5n+1) {
    animation-duration: 399ms;
  }
  &:nth-child(5n+2) {
    animation-duration: 435ms;
  }
  &:nth-child(5n+3) {  
    animation-duration: 489ms;
  }
  &:nth-child(5n+4) {
    animation-duration: 446ms;
  }
  &:nth-child(5n+5) {
    animation-duration: 412ms;
  } 
}


// Individual Songs

.playlist-item {
  width: 125px;
  margin: 0 15px 30px 15px;
  animation: zoomIn .3s ease-out;
  
  &.deleting {
    animation: zoomOut .3s ease-out;
  }
}

.playlist-thumb {
  img {
    max-width: 100%;
    height: 125px;
  }
}

@media (min-width: $screen-sm) {
  .playlist-item {
    width: 250px;
  }
  
  .playlist-thumb img {
    height: 250px;
  }
}


//
// Login and buttons
// --------------------------------------------------

.spotify-controls {
  text-align: center;
}
.spotify-button {
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 10px;
  
  svg {
    width: 270px;
    height: 50px;
  }
}