//
// Playlists
// --------------------------------------------------

.playlist {
  margin: 0 -15px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.playlist-title {
  text-align: center;
}


// Individual Songs

.playlist-item {
  width: 250px;
  margin: 0 15px 30px 15px;
  animation: zoomIn .3s ease-out;
  
  &.deleting {
    animation: zoomOut .3s ease-out;
  }
}

.playlist-thumb {
  img {
    max-width: 100%;
    height: 250px;
  }
}


//
// Login and buttons
// --------------------------------------------------

.spotify-controls {
  text-align: center;
}
.spotify-button {
  display: inline-block;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0 10px;
  
  svg {
    width: 270px;
    height: 50px;
  }
}