//
// Playlists
// --------------------------------------------------

.playerbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: $zindex-5;
}

.playerbar-song,
.playerbar-controls {
  position: relative;
  animation: slideUpIn 0.2s ease-out;
}


//
// Song info
// --------------------------------------------------

.playerbar-song {
  display: none;
}

@media screen and (min-width: $screen-sm) {
  .playerbar-song {
    display: flex;
    align-items: center;
  }
}

.playerbar-song,
.playerbar-link,
.playerbar-info {
  flex: 1;
}

.playerbar-link,
.playerbar-artist {
  font-size: $font-size-small;
}

.playerbar-artists {
  margin-bottom: 0;
}

.playerbar-title {
  margin-top: 0;
  font-size: $font-size-h4 * .85;
}

.playerbar-thumb {
  margin-right: 30px;
  width: 80px;
  height: 80px;
}

.playerbar-link {
  text-align: right;
  margin: 10px 0;
  
  svg {
    width: 110px;
    height: 40px;
    margin-right: 15px;
  }
}



//
// Controls
// --------------------------------------------------

.playerbar-controls {
  display: flex;
  align-items: center;
  margin: 10px auto 0;
  width: 150px;
}

.playerbar-toggle {
  background-color: $brand-secondary;
}

.isPlaying,
.isPaused {
  .playerbar-toggle {
    animation: none;
    opacity: 1;
    width: 60px;
    height: 60px;
    margin: 0 30px;
  }
}

.isPaused, .isPlaying {
  .playerbar-controls {
    margin: 10px 15px;
  }
}

.playerbar-prev,
.playerbar-next {
	width: 15px;
	height: 15px;
	cursor: pointer;
	
	&.disabled {
  	cursor: default;
	}
	
	svg {
  	display: inline-block;
  	width: 100%;
  	height: 100%;
  	vertical-align: top;
	}
}

.playerbar-prev {
  transform: scaleX(-1);
}