// Registry
// --------------------------------------------------


.no-touch .registry a:before {
  content: none;
}

.registry-icon {
  display: block;
  margin: 0 auto 50px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  max-height: 30px;
}