//
// Scaffolding
// --------------------------------------------------


* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}


// Body reset
html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  min-height: 100%;
  position: relative;
}


body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  color: $text-color;
  background-color: $body-bg;
  
  &:not(.home){
    margin: 0 0 $footer-height;
  }

  &.body-playlist {
    margin-bottom: $footer-height * 2;
  }
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links
a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    color: $link-hover-color;
  }

  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}


// Strong
b, strong {
  font-weight: $font-weight-strong;
}


// Images
img,
svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}


// Horizontal rules
hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}


// General styles for disabled elements
.disabled {
  opacity: .3;
  cursor: default;
}


// Only display content to screen readers

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


// iOS "clickable elements" fix for role="button"
[role="button"] {
  cursor: pointer;
}