//
// Search
// --------------------------------------------------


// Search Container

.search {
  position: relative;
  max-width: 700px;
  margin: 0 auto 3em;
}

.search-label {
  display: block;
  font-size: $font-size-h3;
  text-align: center;
  margin-bottom: .5em;
}


// Search Results

.search-results {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
  width: 100%;
  width: calc(100% - 30px);
  margin: 10px 15px 0;
  padding: 10px 30px 0;
  border: 1px solid #ccc;
  background: white;
  list-style: none;
  z-index: 1;
}

.search-result {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  background: white;
  position: relative;
  z-index: $zindex-1;
  
  &.empty {
    margin-top: -10px;
    cursor: auto;
    padding: 20px 0;
  }
  
  &:last-child {
    border-bottom: none;
  }
}

.search-meta {
  width: 64px;
  flex: 0 0 64px;
  margin-left: 30px;
}

.search-info,
.search-meta {
  padding: 20px 0;
  cursor: pointer;
}

.search-info {
  flex: 1;
  position: relative;
  margin-left: 35px;
}

.search-title {
  flex: 1 100%;
  margin: 0;
}

.search-thumb {
  flex: 0 0 64px;
  z-index: $zindex-1;
  background-color: $body-bg;
  margin: 20px 0;
  
  .song-controls {
    cursor: pointer;
  }
}

.song-controls:hover,
.isPlaying,
.isPaused { 
  .search-toggle.song-toggle {
    width: 50%;
    height: 50%;
  }
}


// Add to playlist indicator

.search-info {
  &:before {
    content:'';
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px'><path d='M8.1,0v8.1H0v3.8h8.1V20h3.8v-8.1H20V8.1h-8.1V0H8.1z'/></svg>") left center no-repeat;
    width: 20px;
    height: 20px;
    opacity: 0;  
    position: absolute;
    top: calc(50% - 10px);
    left: -40px;
  }
}

.search-info,
.search-info:before {
  transition: all .1s ease-out;
}

.in-playlist,
.search-result:hover {
  .search-info {
    margin-left: 50px;
    
    &:before {
      left: -35px;
      opacity: 1;
    }
  }
}

.in-playlist {
  cursor: default;
}

.in-playlist .search-info:before {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20px' height='17.3px'><path d='M6.9,17.3L0,10.6l2.7-2.8l3.5,3.4c2.2-3.2,7-9.2,12.5-11.3L20,3.6C13.9,5.9,8.2,15.1,8.2,15.2L6.9,17.3z'/></svg>") left center no-repeat;

}


//
// Popularity Bar
// --------------------------------------------------

.popularity {
  position:relative;
  overflow: hidden;
  height: ($line-height-computed - 14);
  margin: 6px 0;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
      transparent 0%,  transparent 7%,  white 7%,  white 10%,
      transparent 10%, transparent 17%, white 17%, white 20%,
      transparent 20%, transparent 27%, white 27%, white 30%,
      transparent 30%, transparent 37%, white 37%, white 40%,
      transparent 40%, transparent 47%, white 47%, white 50%,
      transparent 50%, transparent 57%, white 57%, white 60%,
      transparent 60%, transparent 67%, white 67%, white 70%,
      transparent 70%, transparent 77%, white 77%, white 80%,
      transparent 80%, transparent 87%, white 87%, white 90%,
      transparent 90%, transparent 97%, white 97%, white 100%);
  }
}

.popularity-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $font-size-small;
  line-height: $line-height-computed;
  color: white;
  text-align: center;
  background-color: $brand-primary;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}