// General Section Styles
// --------------------------------------------------


section {
  margin-bottom: 70px;
  
  @media (min-width: $screen-sm) {
    margin-bottom: $line-height-computed;
  }
}

.section {
  max-width: $screen-sm;
  margin-left: auto;
  margin-right: auto;
}

// Section header
.section-header {
  margin: 0;
  
  @media (min-width: $screen-sm) {
    margin-top: -15px;
  }
}

.section-heading {
  display: block;
  height: 4.2rem;
  width: 100%;
  fill: $brand-secondary;
  margin: 0 auto;
}

// Section break
.section-break {
  display: block;
  width: 24rem;
  height: 4rem;
  margin: 0 auto 1rem;
  fill: transparent;
  stroke: $brand-secondary;
  stroke-width: .4;
}