// General Section Styles
// --------------------------------------------------

.section {
  max-width: $screen-sm;
  margin: 0 auto 70px;
  
  @media (min-width: $screen-sm) {
    margin-bottom: $line-height-computed;
  }
}

// Section header
.section-header {
  margin: 0;
  
  svg {
    display: block;
    height: 4rem;
    width: 100%;
    fill: $brand-secondary;
    margin: 0 auto;
    
    @media (min-width: $screen-sm) {
      height: 5rem;
    }
    
    @media (min-width: $screen-md) {
      height: 6rem;
    }
  }
}

// Section break
.section-break {
  display: block;
  width: 30em;
  margin: -1em auto;
  fill: transparent;
  stroke: $brand-secondary;
  stroke-width: .3;
}