// General Section Styles
// --------------------------------------------------


.section-header {
  display: block;
  width: 100%;
  height: 5em;
  fill: $brand-secondary;
  margin: 0 auto;
}

.section-break {
  display: block;
  width: 25em;
  margin: -1em auto;
  fill: transparent;
  stroke: $brand-secondary;
  stroke-width: .5;
}