//
// Songs
// --------------------------------------------------


.song {
  position: relative;
}


// Song image

.song-thumb {
  position:relative;
}


// Song info

.song-title {
  margin-bottom: 0;
}

.song-duration {
  line-height: 1.3 * $font-size-base*$line-height-base;
}


// Artist

.song-artists {
  list-style: none;
  padding: 0;
  color: $gray-light;
}

.song-artist {
  display: inline-block;

  + .song-artist:before {
    content: ', ';
  }
}


//
// Song Controls
// --------------------------------------------------

.song-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition-property: opacity, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: $zindex-1
}

.song-toggle,
.song-delete {
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
  svg {
    display: inline-block;
  }
}

.song-toggle {
  background-color: #101010;
  border-radius: 50%;
  border: 1px solid #ffffff;
  
  svg {
    width: 55%;
    height: 55%;
    margin-left: 10%;
  }
  
  &:hover {
    box-shadow: 0px 0px 0px 2px #ffffff;
  }
}

.isPlaying .song-toggle svg {
  margin-left: 0;
}

.isPaused .song-toggle {
  opacity: .8;
}

.song-delete svg {
  width: 90%;
  height: 100%;
}

.song-controls:hover,
.isPaused {
  .song-toggle {
    height: 25%;
    width: 25%;
  }
}

.song-controls:hover {
  background-color: rgba(0,0,0,0.4);
  
  .song-toggle,
  .song-delete {
    opacity: .8;
    margin: 0 10px;
    
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
  
  .song-delete {
    height: 8%;
    width: 8%;
  }
}


//
// No Preview
// --------------------------------------------------

.song-nopreview {
  color: #fff;
  background: rgba(0,0,0,0.6);
  border-radius: $search-border-radius;
  width: 100%;
  margin: 20px;
  padding: 5px 15px;
  text-align: center;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}
.song-controls:hover .song-nopreview {
  transform: scale(1);
}